.box{
    width:400px;
    height:400px;
    background-color:aqua;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
  

    transition:all 3s linear 0s;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{

      /* transform:rotate(360deg); */
      /* transform:rotate(-360deg); */

      transform: rotate(2turn);

      /* transform: scale(2); */
      /* transform: scale(0.5); */

      /* transform: skew(45deg);
      transform: skew(-45deg); */

      /* transform: translate(500px,-500px); */

      /* transform: scale(2) translate(-100%,-100%); */

}

p{
    font-size: 35px;
}