* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100%;
    padding: 20px;

    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr 2fr 1fr;
    /* set first row as auto because headder has dynamic height it contains : (Logo, Search Bar, Icons, Text etc.) */
    grid-template-rows: auto 1fr;
}

.child-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* here i set the headder to take column to verry start to verry grid-column:end 1 / -1 */

.header {
    grid-column: 1 / -1;
}

.left-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.feed {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.right-sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* header styling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.top-mid-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.top-right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.top-left-nav-search-input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(167, 165, 165);
    background: #f5f5f5;
    width: 300px;
    font-weight: bold;
}
