* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    width: 100%;
    height: 100%;
} */

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
    gap: 20px;
    padding: 10px;
}

.main-child {
    border: 1px solid black;
}

.bottom {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.bottom-main {
    border: 1px solid black;
}

.right-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.3fr 1fr;
    gap: 10px;
}

.bottom-main-child {
    border: 1px solid black;
}

.bottom-main-containt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}
.bottom-main-containt-child {
    border: 1px solid black;
}

.bottom-main-containt-child {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.card {
    border: 1px solid black;
    height: 100px;
    width: 70%;
}
